<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-header>
      <ion-title>
        Sample
      </ion-title>
    </ion-header>
    <ion-button *ngIf="log == 'log-in'" slot="end" (click)="logIn()" >{{ log }}</ion-button>
    <ion-button *ngIf="log == 'log-out'" slot="end" (click)="logOut()" >{{ log }}</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sample</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div *ngFor="let i of obj; let test = index;">
    <ion-card>
      <ion-card>
        <ion-item>
          <ion-icon name="person" slot="start" color="primary"></ion-icon>
          <ion-label><h1>{{ i.first_name + " " + i.last_name }}</h1></ion-label>
          <ion-icon *ngIf="log != 'log-in'" name="create" fill="outline" slot="end" (click)="edit(i)"></ion-icon>
          <ion-icon *ngIf="log != 'log-in'" name="trash" fill="outline" slot="end" (click)="deleteUser(i.id)"></ion-icon>
        </ion-item>
        <ion-card-content>
          Mail: {{ i.email }}
        </ion-card-content>
      </ion-card>
    </ion-card>
  </div>
</ion-content>
